.u-section-1 {background-image: url("images/ezgif.com-resize.gif"); background-position: 50% 50%}
.u-section-1 .u-sheet-1 {min-height: 1167px}
.u-section-1 .u-layout-wrap-1 {background-image: none; margin: 0 0 60px}
.u-section-1 .u-layout-cell-1 {min-height: 234px}
.u-section-1 .u-container-layout-1 {padding: 30px}
.u-section-1 .u-text-1 {margin: 0 auto}
.u-section-1 .u-layout-cell-2 {min-height: 783px}
.u-section-1 .u-container-layout-2 {padding: 30px}
.u-section-1 .u-gallery-1 {height: 723px; margin: 0 -60px 0 auto}
.u-section-1 .u-over-slide-1 {min-height: 100px; padding: 10px}
.u-section-1 .u-over-slide-2 {min-height: 100px; padding: 10px}
.u-section-1 .u-carousel-control-1 {position: absolute; left: 10px; width: 40px; height: 40px}
.u-section-1 .u-carousel-control-2 {position: absolute; right: 10px; width: 40px; height: 40px}
.u-section-1 .u-carousel-thumbnails-1 {padding-top: 10px} 

@media (max-width: 1199px){ .u-section-1 .u-sheet-1 {min-height: 833px}
.u-section-1 .u-layout-wrap-1 {margin-top: 64px; margin-right: initial; margin-left: initial}
.u-section-1 .u-layout-cell-1 {min-height: 193px}
.u-section-1 .u-layout-cell-2 {min-height: 646px}
.u-section-1 .u-gallery-1 {margin-right: initial; margin-left: initial} }

@media (max-width: 991px){ .u-section-1 .u-layout-cell-1 {min-height: 100px}
.u-section-1 .u-layout-cell-2 {min-height: 100px} }

@media (max-width: 767px){ .u-section-1 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-container-layout-2 {padding-left: 10px; padding-right: 10px} }.u-section-2 {background-image: url("images/ezgif.com-resize.gif"); background-position: 50% 50%}
.u-section-2 .u-sheet-1 {min-height: 1167px}
.u-section-2 .u-layout-wrap-1 {background-image: none; margin: 0 0 60px}
.u-section-2 .u-layout-cell-1 {min-height: 234px}
.u-section-2 .u-container-layout-1 {padding: 30px}
.u-section-2 .u-text-1 {margin: 0 auto}
.u-section-2 .u-layout-cell-2 {min-height: 783px}
.u-section-2 .u-container-layout-2 {padding: 30px}
.u-section-2 .u-gallery-1 {height: 723px; margin: 0 -60px 0 auto}
.u-section-2 .u-over-slide-1 {min-height: 100px; padding: 10px}
.u-section-2 .u-over-slide-2 {min-height: 100px; padding: 10px}
.u-section-2 .u-carousel-control-1 {position: absolute; left: 10px; width: 40px; height: 40px}
.u-section-2 .u-carousel-control-2 {position: absolute; right: 10px; width: 40px; height: 40px}
.u-section-2 .u-carousel-thumbnails-1 {padding-top: 10px} 

@media (max-width: 1199px){ .u-section-2 .u-sheet-1 {min-height: 833px}
.u-section-2 .u-layout-wrap-1 {margin-top: 64px; margin-right: initial; margin-left: initial}
.u-section-2 .u-layout-cell-1 {min-height: 193px}
.u-section-2 .u-layout-cell-2 {min-height: 646px}
.u-section-2 .u-gallery-1 {margin-right: initial; margin-left: initial} }

@media (max-width: 991px){ .u-section-2 .u-layout-cell-1 {min-height: 100px}
.u-section-2 .u-layout-cell-2 {min-height: 100px} }

@media (max-width: 767px){ .u-section-2 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-container-layout-2 {padding-left: 10px; padding-right: 10px} }