.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/UNADJUSTEDNONRAW_thumb_7522.jpg");
  background-position: 50% 5.95%;
}

.u-section-1 .u-sheet-1 {
  min-height: 853px;
}

.u-section-1 .u-text-1 {
  font-family: "Archivo Black";
  margin: 60px auto 0;
}

.u-section-1 .u-text-2 {
  font-family: "Archivo Black";
  margin: 30px 0 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 703px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 538px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 404px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 227px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 30px;
  }

  .u-section-1 .u-text-2 {
    margin-bottom: 30px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 182px;
}.u-section-3 .u-sheet-1 {
  min-height: 683px;
}

.u-section-3 .u-layout-wrap-1 {
  pointer-events: auto;
  background-image: none;
  margin: 15px auto 15px 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 145px;
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 508px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-image-1 {
  height: 400px;
  object-position: 0% 34.7%;
  width: 429px;
  margin: 0 auto;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 518px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 60px;
}

.u-section-3 .u-text-2 {
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 481px;
  }

  .u-section-3 .u-layout-wrap-1 {
    min-height: 372px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 120px;
    pointer-events: auto;
    background-position: 50% 50%;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 419px;
  }

  .u-section-3 .u-image-1 {
    height: 378px;
    width: 405px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 427px;
    pointer-events: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 367px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 321px;
  }

  .u-section-3 .u-image-1 {
    height: 275px;
    width: 295px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 653px;
  }

  .u-section-3 .u-layout-wrap-1 {
    min-height: 558px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 349px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 446px;
  }

  .u-section-3 .u-layout-wrap-1 {
    min-height: 351px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 220px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 182px;
}.u-section-5 {
  background-image: url("images/ezgif.com-resize.gif");
  background-position: 50% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 662px;
}

.u-section-5 .u-layout-wrap-1 {
  background-image: none;
  margin: -117px 0 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 89px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 30px 0;
}

.u-section-5 .u-text-1 {
  font-family: "Archivo Black";
  width: 491px;
  margin: 0 auto;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 573px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-gallery-1 {
  height: 600px;
  width: 1080px;
  margin: -580px auto -20px;
}

.u-section-5 .u-carousel-item-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-over-slide-1 {
  min-height: 100px;
  padding: 5px;
}

.u-section-5 .u-carousel-item-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-over-slide-2 {
  min-height: 100px;
  padding: 5px;
}

.u-section-5 .u-carousel-item-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-over-slide-3 {
  min-height: 100px;
  padding: 5px;
}

.u-section-5 .u-carousel-item-4 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-over-slide-4 {
  min-height: 100px;
  padding: 5px;
}

.u-section-5 .u-carousel-item-5 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-over-slide-5 {
  min-height: 100px;
  padding: 5px;
}

.u-section-5 .u-carousel-item-6 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-over-slide-6 {
  min-height: 100px;
  padding: 5px;
}

.u-section-5 .u-carousel-item-7 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-over-slide-7 {
  min-height: 100px;
  padding: 5px;
}

.u-section-5 .u-carousel-item-8 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-over-slide-8 {
  min-height: 100px;
  padding: 5px;
}

.u-section-5 .u-carousel-item-9 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-over-slide-9 {
  min-height: 100px;
  padding: 5px;
}

.u-section-5 .u-carousel-item-10 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-over-slide-10 {
  min-height: 100px;
  padding: 5px;
}

.u-section-5 .u-carousel-item-11 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-over-slide-11 {
  min-height: 100px;
  padding: 5px;
}

.u-section-5 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-5 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 429px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 73px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 472px;
  }

  .u-section-5 .u-gallery-1 {
    margin-top: -472px;
    margin-bottom: -423px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 346px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 199px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 362px;
  }

  .u-section-5 .u-gallery-1 {
    margin-bottom: -499px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 256px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 315px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 272px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 155px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 373px;
  }

  .u-section-5 .u-text-1 {
    width: 320px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 187px;
  }

  .u-section-5 .u-gallery-1 {
    margin-bottom: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 182px;
}.u-section-7 .u-sheet-1 {
  min-height: 220px;
}

.u-section-7 .u-group-1 {
  min-height: 220px;
  margin: 0 auto 0 0;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-text-1 {
  font-family: "Archivo Black";
  width: 454px;
  margin: 23px auto 0;
}

.u-section-7 .u-text-2 {
  font-family: "Archivo Black";
  line-height: 40px;
  margin: 22px 0 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-text-1 {
    margin-left: -20px;
    margin-right: -20px;
    width: 320px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 492px;
}

.u-section-8 .u-layout-wrap-1 {
  min-height: 493px;
  margin: -28px 0;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 198px;
  background-image: none;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px;
}

.u-section-8 .u-text-1 {
  margin: 12px 0 0;
}

.u-section-8 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 295px;
  background-image: none;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px;
}

.u-section-8 .u-image-1 {
  height: 181px;
  margin: 0 -60px 0 auto;
}

.u-section-8 .u-layout-cell-3 {
  background-image: none;
  min-height: 295px;
}

.u-section-8 .u-container-layout-3 {
  padding: 30px;
}

.u-section-8 .u-image-2 {
  height: 181px;
  margin: 0 -60px 0 auto;
}

.u-section-8 .u-layout-cell-4 {
  min-height: 295px;
  background-image: none;
}

.u-section-8 .u-container-layout-4 {
  padding: 30px;
}

.u-section-8 .u-image-3 {
  height: 181px;
  margin: 0 -60px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 59px;
  }

  .u-section-8 .u-layout-wrap-1 {
    position: relative;
    min-height: 302px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 208px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 243px;
  }

  .u-section-8 .u-image-1 {
    height: 143px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 243px;
  }

  .u-section-8 .u-image-2 {
    height: 143px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-layout-cell-4 {
    min-height: 243px;
  }

  .u-section-8 .u-image-3 {
    height: 143px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 409px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-top: -185px;
    margin-bottom: -185px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 186px;
  }

  .u-section-8 .u-image-1 {
    height: 102px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 186px;
  }

  .u-section-8 .u-image-2 {
    height: 102px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-layout-cell-4 {
    min-height: 186px;
  }

  .u-section-8 .u-image-3 {
    height: 102px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1343px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-top: -28px;
    margin-bottom: -28px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 419px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-image-1 {
    height: 295px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 419px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-image-2 {
    height: 295px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-layout-cell-4 {
    min-height: 419px;
  }

  .u-section-8 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-image-3 {
    height: 295px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1056px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 264px;
  }

  .u-section-8 .u-image-1 {
    height: 182px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 264px;
  }

  .u-section-8 .u-image-2 {
    height: 182px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-layout-cell-4 {
    min-height: 264px;
  }

  .u-section-8 .u-image-3 {
    height: 182px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 274px;
}

.u-section-9 .u-layout-wrap-1 {
  margin: 0 0 -4px;
}

.u-section-9 .u-layout-cell-1 {
  min-height: 274px;
  background-image: none;
}

.u-section-9 .u-container-layout-1 {
  padding: 30px;
}

.u-section-9 .u-image-1 {
  height: 181px;
  margin: 0 -60px 0 auto;
}

.u-section-9 .u-layout-cell-2 {
  background-image: none;
  min-height: 274px;
}

.u-section-9 .u-container-layout-2 {
  padding: 30px;
}

.u-section-9 .u-image-2 {
  height: 181px;
  animation-duration: 1000ms;
  margin: 0 -60px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 231px;
  }

  .u-section-9 .u-layout-wrap-1 {
    margin-bottom: -11px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 231px;
  }

  .u-section-9 .u-image-1 {
    height: 143px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 231px;
  }

  .u-section-9 .u-image-2 {
    height: 143px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 202px;
  }

  .u-section-9 .u-layout-wrap-1 {
    margin-bottom: -4px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 173px;
  }

  .u-section-9 .u-image-1 {
    height: 102px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 173px;
  }

  .u-section-9 .u-image-2 {
    height: 102px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 700px;
  }

  .u-section-9 .u-layout-wrap-1 {
    margin-top: -10px;
    margin-bottom: -357px;
    position: relative;
    min-height: 302px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 260px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-image-1 {
    height: 295px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 260px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-image-2 {
    height: 295px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 482px;
  }

  .u-section-9 .u-layout-wrap-1 {
    margin-top: -2px;
    margin-bottom: -244px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 164px;
  }

  .u-section-9 .u-image-1 {
    height: 182px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 164px;
  }

  .u-section-9 .u-image-2 {
    height: 182px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 442px;
}

.u-section-10 .u-layout-wrap-1 {
  margin: -14px auto 5px 0;
}

.u-section-10 .u-layout-cell-1 {
  min-height: 179px;
  background-image: none;
}

.u-section-10 .u-container-layout-1 {
  padding: 30px;
}

.u-section-10 .u-text-1 {
  margin: 7px 0 0;
}

.u-section-10 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-10 .u-layout-cell-2 {
  min-height: 276px;
  background-image: none;
}

.u-section-10 .u-container-layout-2 {
  padding: 30px;
}

.u-section-10 .u-image-1 {
  height: 181px;
  margin: 0 -60px 0 0;
}

.u-section-10 .u-layout-cell-3 {
  background-image: none;
  min-height: 276px;
}

.u-section-10 .u-container-layout-3 {
  padding: 30px;
}

.u-section-10 .u-image-2 {
  height: 181px;
  margin: 0 -60px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-10 .u-sheet-1 {
    min-height: 59px;
  }

  .u-section-10 .u-layout-wrap-1 {
    position: relative;
    min-height: 268px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 154px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 228px;
  }

  .u-section-10 .u-image-1 {
    height: 143px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-10 .u-layout-cell-3 {
    min-height: 228px;
  }

  .u-section-10 .u-image-2 {
    height: 143px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-sheet-1 {
    min-height: 313px;
  }

  .u-section-10 .u-layout-wrap-1 {
    margin-bottom: -451px;
    min-height: 9px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 175px;
  }

  .u-section-10 .u-image-1 {
    height: 102px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-10 .u-layout-cell-3 {
    min-height: 175px;
  }

  .u-section-10 .u-image-2 {
    height: 102px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-sheet-1 {
    min-height: 854px;
  }

  .u-section-10 .u-layout-wrap-1 {
    margin-bottom: -1876px;
    min-height: 501px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-10 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 263px;
  }

  .u-section-10 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-image-1 {
    height: 295px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-10 .u-layout-cell-3 {
    min-height: 263px;
  }

  .u-section-10 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-image-2 {
    height: 295px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 647px;
  }

  .u-section-10 .u-layout-wrap-1 {
    margin-bottom: -2226px;
    min-height: 346px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 166px;
  }

  .u-section-10 .u-image-1 {
    height: 182px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-10 .u-layout-cell-3 {
    min-height: 166px;
  }

  .u-section-10 .u-image-2 {
    height: 182px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-11 .u-sheet-1 {
  min-height: 361px;
}

.u-section-11 .u-layout-wrap-1 {
  margin: -6px 0 0;
}

.u-section-11 .u-layout-cell-1 {
  min-height: 367px;
  background-image: none;
}

.u-section-11 .u-container-layout-1 {
  padding: 20px 30px 30px;
}

.u-section-11 .u-image-1 {
  height: 283px;
  margin: 10px -60px 0 0;
}

.u-section-11 .u-layout-cell-2 {
  background-image: none;
  min-height: 367px;
}

.u-section-11 .u-container-layout-2 {
  padding: 30px;
}

.u-section-11 .u-image-2 {
  height: 283px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-11 .u-sheet-1 {
    min-height: 59px;
  }

  .u-section-11 .u-layout-wrap-1 {
    position: relative;
    min-height: 268px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-11 .u-layout-cell-1 {
    min-height: 303px;
  }

  .u-section-11 .u-image-1 {
    height: 243px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-11 .u-layout-cell-2 {
    min-height: 303px;
  }

  .u-section-11 .u-image-2 {
    height: 243px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-sheet-1 {
    min-height: 164px;
  }

  .u-section-11 .u-layout-cell-1 {
    min-height: 232px;
  }

  .u-section-11 .u-image-1 {
    height: 102px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-11 .u-layout-cell-2 {
    min-height: 232px;
  }

  .u-section-11 .u-image-2 {
    height: 102px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-sheet-1 {
    min-height: 699px;
  }

  .u-section-11 .u-layout-wrap-1 {
    margin-top: -1px;
    margin-bottom: -622px;
    min-height: 501px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-11 .u-layout-cell-1 {
    min-height: 348px;
  }

  .u-section-11 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-11 .u-image-1 {
    height: 295px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-11 .u-layout-cell-2 {
    min-height: 348px;
  }

  .u-section-11 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-11 .u-image-2 {
    height: 295px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-sheet-1 {
    min-height: 473px;
  }

  .u-section-11 .u-layout-wrap-1 {
    margin-bottom: -1109px;
    min-height: 346px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-11 .u-layout-cell-1 {
    min-height: 219px;
  }

  .u-section-11 .u-image-1 {
    height: 182px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-11 .u-layout-cell-2 {
    min-height: 219px;
  }

  .u-section-11 .u-image-2 {
    height: 182px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-12 .u-sheet-1 {
  min-height: 182px;
}.u-section-13 .u-video-1 {
  min-height: 500px;
}

@media (max-width: 767px) {
  .u-section-13 .u-video-1 {
    min-height: 5px;
  }
}

@media (max-width: 575px) {
  .u-section-13 .u-video-1 {
    min-height: 0;
  }
}