#content-desktop {display: block;}
#content-mobile {display: none;}

@media screen and (max-width: 600px) {

#content-desktop {display: none;}
#content-mobile {display: block;}

}


.mobiletext {
    font-size: 32px;
    font-family: sans-serif;
    color:black;
    text-align: center;
}

body {
    background-color: green;
}

.center {
    margin: auto;
    width: 50%;
}


.header {
    background-color: #FF0020;
    height: 127px;
}


.header img {
    margin: auto;
    display: block;
}

p {
    z-index: 100;
    font-size: 48px;
    font-family: sans-serif;
    color:black;
    text-shadow: 1px -1px white;
    text-align: center;
}

#main {
    position: relative;
    top: 0;
    left: 0;
}

.tamagotchi {
    position: relative;
    top: -320px;
    left: 0;
    text-align: center;
    z-index: -10;
}


iframe {
position: absolute;
    top: 185px;
    left: 230px;
    border: 1px green solid;
    
}

.tamagotchi2 {
    left: 0;
}

